{#
    Section: ForgetPassword
    Owner: darkfoxdeveloper@gmail.com
#}

{% import 'box.html' as box %}
{% include 'head.html' %}
<!-- #BEGIN | CONTENT OF BUY PAGE -->
    <div id="content" class="row text-center">
        <div class="col-xs-12 col-lg-9 p-0">
            <div class="superbox">
                <div class="superbox-header">
                    Forgot Password?
                </div>
                <div class="superbox-body">
                    <form method="post" action="">
                        <table>
                            <tr>
                                <td><label>{{lang["REGISTER_ACCOUNT_LABEL"]}}</label></td>
                                <td><input type="text" name="username" value="" class="input"></td>
                            </tr>
                            <tr>
                                <td><label>{{lang["REGISTER_EMAIL_LABEL"]}}</label></td>
                                <td><input type="text" name="email" value="" class="input"></td>
                            </tr>
                        </table>
                        <input name="submit_forgetpwd" type="submit" class="btn btn-primary mt-1 ml-5" value="Get the password!">
					</form>
                </div>
                <div class="superbox-footer">
                    {% if message is defined %}
                        {{message|raw}}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #END | CONTENT OF BUY PAGE -->
{% include 'footer.html' %}