{#
    Section: Ranking
    Owner: darkfoxdeveloper@gmail.com
#}
{% import 'box.html' as box %}
{% include 'head.html' %}
<!-- #BEGIN | CONTENT OF RANKING PAGE -->
    <div id="content" class="row text-center">
        <div class="mx-auto p-0">
            <div class="row mb-2">
                <div class="col-12 center-heading">
                    <h2>{{lang["SECTION3_TITLE"]}}</h2>
                    <span class="center-line"></span>
                </div>
                <div class="col-12">
                   <div class="container p-0">
                        <div class="col-12 p-0 text-center">
                            <div class="title">Ranking of Server</div>
                            <form action="" method="GET">
                                <select name="type">
                                    <option value="players">Ranking Players</option>
                                    <option value="arena">Ranking Arena</option>
                                    <option value="clans">Ranking Clans</option>
                                    <option value="nobility">Ranking Noblity</option>
                                    <option value="pkpoints">Ranking PKPoints</option>
                                </select>
                                <button type="submit" class="btn btn-primary">Show</button>
                            </form>
                        </div>
                    </div>
                    <div class="container p-0 pr-4">
                        <div class="col-12 p-0 text-center">
                            <table class="table table-dark">
                                <thead>
                                    <tr class="rank_head">
                                        {% if type_ranking == "players" %}
                                            <td>#</td>
                                            <td>Name</td>
                                            <td>Level</td>
                                            <td>Class</td>
                                            <td>Avatar</td>
                                            <td>Spouse</td>
                                        {% endif %}
                                        {% if type_ranking == "arena" %}
                                            <th>#</td>
                                            <th>Name</th>
                                            <th>Level</th>
                                            <th>Class</th>
                                            <th>Arena Points</th>
                                            <th>Victories</th>
                                            <th>Losts</th>
                                        {% endif %}
                                        {% if type_ranking == "clans" %}
                                            <th>#</td>
                                            <th>Name</th>
                                            <th>Leader</th>
                                            <th>Wins</th>
                                            <th>Losts</th>
                                            <th>Money</th>
                                            <th>CPs</th>
                                        {% endif %}
                                        {% if type_ranking == "nobility" %}
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Noblity</th>
                                            <th>Donation</th>
                                        {% endif %}
                                        {% if type_ranking == "pkpoints" %}
                                            <td>#</td>
                                            <td>Name</td>
                                            <td>PKPoints</td>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for player_in_ranking in full_ranking %}
                                    <tr class="rank_player">
                                        {% if type_ranking == "players" %}
                                            <td>{{loop.index}}</td>
                                            <td>{{player_in_ranking.Name}}</td>
                                            <td>{{player_in_ranking.Level}}</td>
                                            <td>{{player_in_ranking.ClassName}}</td>
                                            <td><img src="faces/{{player_in_ranking.Face}}.jpg" /></td>
                                            <td>{{player_in_ranking.Spouse}}</td>
                                        {% endif %}
                                        {% if type_ranking == "arena" %}
                                            <td>{{loop.index}}</td>
                                            <td>{{player_in_ranking.EntityName}}</td>
                                            <td>{{player_in_ranking.Level}}</td>
                                            <td>{{player_in_ranking.ClassName}}</td>
                                            <td>{{player_in_ranking.ArenaPoints}}</td>
                                            <td>{{player_in_ranking.TotalWin}}</td>
                                            <td>{{player_in_ranking.TotalLose}}</td>
                                        {% endif %}
                                        {% if type_ranking == "clans" %}
                                            <td>{{loop.index}}</td>
                                            <td>{{player_in_ranking.Name}}</td>
                                            <td>{{player_in_ranking.LeaderName}}</td>
                                            <td>{{player_in_ranking.Wins}}</td>
                                            <td>{{player_in_ranking.Losts}}</td>
                                            <td>{{player_in_ranking.SilverFund}}</td>
                                            <td>{{player_in_ranking.ConquerPointFund}}</td>
                                        {% endif %}
                                        {% if type_ranking == "nobility" %}
                                            <td>{{loop.index}}</td>
                                            <td>{{player_in_ranking.EntityName}}</td>
                                            <td>{{player_in_ranking.Noblity|raw}}</td>
                                            <td>{{player_in_ranking.Donation}}</td>
                                        {% endif %}
                                        {% if type_ranking == "pkpoints" %}
                                            <td>{{loop.index}}</td>
                                            <td>{{player_in_ranking.Name}}</td>
                                            <td>{{player_in_ranking.PKPoints}}</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #END | CONTENT OF RANKING PAGE -->
{% include 'footer.html' %}