{#
    Section: Sidebar
    Owner: darkfoxdeveloper@gmail.com
#}
<div class="ml-auto col-xs-11 col-lg-2 p-0">
    <div class="container-fluid">
        <section id="login" class="row p-1">
            {% include 'login.html' %}
        </section>
        <section id="quick_links" class="row">
            <div class="mx-auto">
                <div class="button col-12 p-0">
                    <a href="{{constant('QUICK_LINK0_HREF')}}" data-toggle="tooltip" title="{{constant('QUICK_LINK0_TITLE')}}"><img alt="{{constant('QUICK_LINK0_TITLE')}}" class="imgfluid d-block mw-100" src="{{constant('APP_PATH')}}resources/images/dl{% if LANG != "es" %}_en{% endif %}.png" border=none></a>
                </div>
                <div class="button col-12 p-0">
                    <a href="{{constant('QUICK_LINK1_HREF')}}" data-toggle="tooltip" title="{{constant('QUICK_LINK1_TITLE')}}"><img alt="{{constant('QUICK_LINK1_TITLE')}}" class="imgfluid d-block mw-100" src="{{constant('APP_PATH')}}resources/images/community{% if LANG != "es" %}_en{% endif %}.png" border=none></a>
                </div>
            </div>
        </section>
    </div>
    <section id="box" class="row">
        <div class="mx-auto col-8 col-sm-4 col-md-4 col-lg-12">
            <span class="h">{{lang["SERVER_STATUS_LABEL"]}}</span>
            {% include 'status.html' %}
        </div>
    </section>
    <div id="box" class="row">
        <div class="mx-auto col-8 col-sm-4 col-md-4 col-lg-12">
            <span class="h">{{lang["TOP_5_INDEX_RANKING_LABEL"]}}</span>
            <table>
                {% include 'ranking_index.html' %}
            </table>
        </div>
    </div>
</div>